body {
  background-color: #ededed;

  

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  max-width: 402px;
  margin: 0 auto;
  background-image: url('./image/backgrounddots.png');
  background-size: auto;
  background-repeat: repeat-y;
  background-position: center top;
  min-height: 100vh;
}

